* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    border: none;
    background-color: rgb(131, 128, 128);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 1px solid black;
}

.cell:nth-child(-n + 3) {
    border-top: none;
}

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.locked {
    pointer-events: none;
}

h2, .board {
    margin-bottom: 0.5rem;
}