* {
    margin: 0;
    padding: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    background-color: yellow;
    justify-content: center;
    border: none;
}

.cell {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}